[pytype]
python_version = 3.12
inputs = src
exclude = venv/*,.git/*,out/*
# Require type annotations for all functions
analyze_annotated = true
# Keep going past errors to analyze as many files as possible.
keep_going = true 